body
  font-size 13px

.head
  width 90%
  margin auto
  margin-bottom 30px
  h1
    text-align center
    margin-bottom 30px
    color #003399
  select
    margin-right 2%
    width 15%
  input
    width 50%
    margin-right 2%
  button
    width 14%
h2
  font-size 17px
  font-weight bold
  color green
  margin-bottom 15px
  margin-top 0

.listing-wrapper
  width 90%
  margin auto
  .listing
    margin-bottom 20px
    padding 20px
    border-radius 6px
    background #f1f1f1
    table
      font-size 12px
      tr
        td
          padding 5px 10px
      
img
  max-width 100%
  
.next
  width 90%
  margin auto
  text-align right
  padding 20px 0 0 0
  button
    padding 10px 30px
    background green
    color white
    border none
    border-radius 4px
    
.table>tbody+tbody
  border none
  border-bottom dotted 1px #ccc